<div class="card m3 bg-light">
  
    <div class="card-header text-center bg-light">
      <strong>LISTADO DE CHEQUES</strong>
      <small> ({{ cheques.totItems }}) </small>
    </div>

    <div *ngIf="isCargando">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    
    <div *ngFor="let cheque of cheques; let i = index">

        <div class="card m-2 border-dark border shadow-sm">

            <div class="card-header border-dark border-bottom shadow-sm">
                Cuenta: {{ cheque.cuentajpms[0].cuenta }} /
                Serie: {{ cheque.serie }} /
                Número: {{ cheque.numero }}
            </div>

            <div class="card-body">
                Banco: {{ cheque.cuentajpms[0].banco }}<br>
                Sucursal: {{ cheque.cuentajpms[0].sucursal }}<br>
                Ingreso: {{ cheque.ingreso | date:'dd/MM/yyyy' }}<br>
                Doc.Tipo: {{ cheque.doc_tipo }}<br>
                Doc.Nro.: {{ cheque.doc_numero }}<br>
                Titular: {{ cheque.titular | uppercase }}<br>
                Concepto: {{ cheque.concepto | uppercase }}<br>
                Monto: {{ cheque.monto | currency:'CAD':'$ ':'3.2-2' }}<br>
                Emisión: {{ cheque.emision | date:'dd/MM/yyyy' }}<br>
                Anulado: {{ cheque.anulado | date:'dd/MM/yyyy' }}<br>
                Motivo de anulación: {{ cheque.motivo }}<br>
            </div>
            
            <div class="card-footer border-dark border-top text-end">
              <a href="" (click)="$event.preventDefault(); openEdit({'id': cheque.id});" class="btn btn-outline-success rounded">
                Editar
                </a>
                <a href="/cheques/borrar/{{cheque.id}}" routerLink="/cheques/borrar/{{cheque.id}}" class="btn btn-outline-danger ml-2 rounded">
                Borrar
                </a>
            </div>

        </div>

    </div>

</div>